
<div class="hero">
   <div class="newslatter">
      <form id="formbeats" action="/beats" method="GET">
        <input type="text" name="wordToFind" value="{{ query.wordToFind }}" class="form-control"  id="searchinput" placeholder="Enter word to find...">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>



    <div class="music-container">
            {{#each beats as |beat|}}
            <div class="box">
                <div class="music-description">
                    <p class="card-text">{{beat.title}}</p>
                </div>
                 
                <div class="music-description">
                    <p class="card-text">{{beat.description}}</p>
                </div>

                <div class="music-description">
                    <p class="card-text"><a href="/users/{{beat.author.id}}/userDetail">@{{beat.author.name}}</a></p>
                </div>

                <div class="music">
                    <audio controls muted >
                        <source src={{beat.audio}}>
                    </audio>  
                </div>
                
                <div class="social">
                    {{#if ../currentUser}}
                    <a href="/beats/{{beat.id}}/detail" ><i class="fa fa-info" aria-hidden="true"></i></a>
                    
                    {{/if}}
                </div> 
            </div>
            {{/each}}
    </div>

</div>    