<a href="/beats/new" class="btn btn-secondary">New Beat</a>
<hr/>

<form action="/beats" method="GET">
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa fa-tag"></i></span>
        <input type="text" name="title" value="{{ query.title }}" class="form-control" placeholder="Enter beat title...">
        <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
    </div>

<div class="row">
    {{#each beats as |beat|}}
        <div class="col-3">
            <div class="card mb-4">
                 <!--<img src="{{beat.image}}" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{beat.title}}</h5>
                    <p class="card-text">{{beat.description}}</p>
                    <p class="card-text"><a href="/users/{{beats.author.id}}/detail">@{{beat.author.name}}</a></p>
                    <audio controls muted >
                        <source src={{beat.audio}}>
                    </audio>  
                 

                    {{#if ../currentUser}}
                    <a href="/beats/{{beat.id}}/detail" class="btn btn-primary">&#127911 See detail</a>
                    <form action="/beats/{{beat.id}}/delete" method="post">
                    <button class="btn btn-secondary" type="submit">&#128162    Borrar</button>
                     </form>
                    {{/if}}
                    
                </div> 
            </div>
        </div>
    {{/each}}
</div>