<div class="form-new-container">
<form action="/beats" method="POST" class="form-new-beat">

  <div class="input-group mb-1">
    <span class="input-group-text"><i class="fa fa-tag fa-fw"></i></span>
    <input type="text" name="title" value="{{ beat.title }}" class="form-control {{#if errors.title }}is-invalid{{/if}}" placeholder="Enter beat title..." />
    {{#if errors.title }}<div class="invalid-feedback">{{ errors.title }}</div>{{/if}}
  </div>

  <div class="input-group mb-1">
    <span class="input-group-text"><i class="fa fa-edit fa-fw"></i></span>
    <textarea class="form-control {{#if errors.description }}is-invalid{{/if}}" name="description" aria-label="Beat description">{{ beat.description}}</textarea>
    {{#if errors.description }}<div class="invalid-feedback">{{ errors.description }}</div>{{/if}}
  </div>

  <div class="input-group mb-1">
    <span class="input-group-text"><i class="fa fa-picture-o fa-fw"></i></span>
    <input type="text" name="image" value="{{ beat.image }}" class="form-control {{#if errors.image }}is-invalid{{/if}}"
      placeholder="Enter beat image url..." />
    {{#if errors.image }}<div class="invalid-feedback">{{ errors.image }}</div>{{/if}}
  </div>


  <div class="custom-file mb-3">
    <input type="text" name="file" value="{{ beat.file }}" class="form-control {{#if errors.file }}is-invalid{{/if}}" class="custom-file-input"
      placeholder="Enter beat archibo " />
    {{#if errors.file }}<div class="invalid-feedback">{{ errors.file }}</div>{{/if}}
  <label for="file" class="custom-file-label">choose file</label>

  </div>





  <button type="submit" value="Submit" class="btn btn-primary btn-block" >
<div class="neon">
</div>

</button>
</form>

</div>