<div class="form-new-container">
<form action="/beats" method="POST" class="form-new-beat">

  <div class="input-group mb-1">
    <span class="input-group-text"><i class="fa fa-tag fa-fw"></i></span>
    <input type="text" name="title" value="{{ beat.title }}" class="form-control {{#if errors.title }}is-invalid{{/if}}" placeholder="Enter beat title..." />
    {{#if errors.title }}<div class="invalid-feedback">{{ errors.title }}</div>{{/if}}
  </div>

  <div class="input-group mb-1">
    <span class="input-group-text"><i class="fa fa-edit fa-fw"></i></span>
    <textarea class="form-control {{#if errors.description }}is-invalid{{/if}}" name="description" aria-label="Beat description">{{ beat.description}}</textarea>
    {{#if errors.description }}<div class="invalid-feedback">{{ errors.description }}</div>{{/if}}
  </div>

  <div class="input-group mb-1">
    <span class="input-group-text"><i class="fa fa-picture-o fa-fw"></i></span>
    <input type="text" name="image" value="{{ beat.image }}" class="form-control {{#if errors.image }}is-invalid{{/if}}"
      placeholder="Enter beat image url..." />
    {{#if errors.image }}<div class="invalid-feedback">{{ errors.image }}</div>{{/if}}
  </div>

  <button type="submit" >
<div class="neon">
    <span class="letter l">N</span>
    <span class="letter a">E</span>
    <span class="letter h">W</span>
    <span class="letter q">-</span>
    <span class="letter r">B</span>
    <span class="letter i">E</span>
    <span class="letter m">A</span>
    <span class="letter t">T</span>
</div>

  </button>
</form>

</div>