

<section class="about">
    <div class="main">

        <iframe width="560" height="315" src="{{ currentUser.skills }}?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="about-text">

            <h2>About Me</h2>
            <h5>prod:{{ currentUser.name }}</h5>
            <p>bio:{{ currentUser.bio}}</p>


            <div class="social">
                <a href="{{ currentUser.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></p>
                <a href="{{currentUser.donate}}"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a></p>
                <a href="{{currentUser.social}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
            </div>

        </div>

    </div>
</section>